html {
  padding: 50px;
}

h1 {
  padding-bottom: 20px;
}

p {
  font-size: 16px;
}

.form-container {
  max-width: 75%;
}

.form-group {
  display: flex;
}

.form-field {
  padding-bottom: 10px;
  padding-right: 20px;
  flex-grow: 1;  
}

.error-message {
  padding-top: 5px;
  font-size: 10px;
  color: red;
  height: 20px;
}

.form-title {
  font-weight: 500;
  padding-right: 5px;
}

.form-required {
  color: red;
}
