html {
  padding: 50px;
}

body {
  background-color: '#FAF9F6';
}

h1 {
  padding-bottom: 20px;
}

p {
  font-size: 16px;
}

/* Overriding styles */
input {
  font-size: 13px !important;
}

::-webkit-input-placeholder {
  font-size: 13px !important;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 13px !important;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-size: 13px !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  justify-content: center;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.form-field {
  flex-grow: 1;  
}

.error-message {
  padding-top: 5px;
  font-size: 10px;
  color: red;
  height: 10px;
}

.form-title {
  font-weight: 500;
  padding-right: 5px;
}

.form-required {
  color: red;
}

.submit-container {
  display: flex;    
  flex-grow: 1;
}

.submit-button {
  width: 100%;
  margin-top: 10px;
}
